@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.root {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 22, 22);
    width: 20vw;
    min-width: 300px;
    height: 93vh;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 50px;
}

.head_logo {
    width: 180px;
    height: auto;
    border: solid 10px rgb(63, 62, 62);
    border-radius: 100px;

}

.head_logo:hover {
    transform: scale(1.2);
    transition: 0.5s;
    margin-bottom: 50px;
}

.head_name {
    color: aliceblue;
}

.head_menu {
    padding-top: 150px;
}

.head_social {
    top: 95%;
}

.head_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type: none;
}

.head_li {
    padding: 20px 0px;
    color: aliceblue;
}

.head_li:hover {
    color: rgb(72, 255, 0);
    transition: 0.3s;
}

.fa-brands {
    color: #acb0b1;
    width: 30px;
    height: 30px;
}

.back {
    filter: brightness(10%);
    opacity: 0.95;
    top: 0;
    z-index: -1;
    width: 0px;
    position: fixed;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 1;
}

.home {

    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.greeting {
    color: rgb(240, 248, 255);
    padding-bottom: 30px;
}

.wraper {
    display: flex;
    padding: 30px 0;
}

.wraper_text {
    color: aliceblue;
    font-size: xx-large;
}

.wraper_coursor {
    content: "";
    width: 8px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

.home_text {
    color: aliceblue;
    padding: 30px 0;
    font-size: xx-large;
}

.home_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #20c997;
    color: #20c997;
    border-radius: 25px;
    width: 150px;
    height: 50px;
}

.home_btn:hover {
    background-color: #20c997;
    color: aliceblue;
    transition: 0.5s;
}

.content_box {
    position: relative;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.about_content {
    width: 90%;
}

.up_block {
    display: flex;
    justify-content: center;
}

.back_text {
    color: #aac0aa27;
    font-weight: 600;
    width: 100%;
    font-size: 8.25rem;
    display: contents;
}

.front_text {
    position: absolute;
    top: 75px;
    left: 0;
    display: flex;
    width: 100%;
    font-size: 2.25rem;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    font-weight: 600;
}

.text_line {
    border: solid 1px #20c997;
    border-radius: 30px;
    background-color: #20c997;
    width: 80px;
    height: 3px;
}

.about_center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

.name_span {
    color: #20c997;
}

.about_info {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
}

.about_info>h2 {
    margin-bottom: 2rem;
}

.about_data {
    margin-top: 30px;
}

.info_text {
    margin-bottom: 2rem;
    line-height: 1.8
}

.list_style {
    margin-bottom: 50px;
}

.list_style>li {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eaeaea;
}

.li_mail {
    color: #20c997;
}

.link_resume {
    border: solid 1px #20c997;
    border-radius: 30px;
    background-color: #20c997;
    color: #dee3e4;
    padding: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.425);
}

.count {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

.count_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 12px;
}

.count_h2 {
    color: #acb0b1;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.3
}

.services_content {
    width: 90%;
}

.services_center {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    margin-top: 30px;
}

.center_box {
    display: flex;
    align-items: center;

}

.fa-solid {
    font-size: 200%;

}

.services_icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #20c997;
    box-shadow: 5px 5px 15px rgba(151, 243, 159, 0.397);
}

.services_text {
    width: 90%;
    padding: 20px 10px;
    line-height: 1.8
}