@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.root {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(22, 22, 22);
    width: 20vw;
    min-width: 300px;
    height: 95vh;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 50px;
}

.head_logo {
    width: 180px;
    height: auto;
    border: solid 10px rgb(63, 62, 62);
    border-radius: 100px;

}

.head_logo:hover {
    box-shadow: 5px 5px 15px #20c99656;
    transition: 0.5s;
    /* margin-bottom: 50px; */
}

.head_name {
    color: aliceblue;
}

.head_social {
    top: 95%;
}

.fa-instagram:hover {
    color: rgb(181, 56, 240);
}

.fa-square-facebook:hover {
    color: rgb(54, 107, 252);
}

.fa-github:hover {
    color: #dadcdd;
}

.head_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type: none;
    padding: 20px 0;
}

.head_a {
    padding: 12px 0px;
    color: aliceblue;
}

.head_a:hover {
    color: #20c997;
    transition: 0.3s;
}

.fa-brands {
    color: #acb0b1;
    font-size: 25px;
    padding: 12px;
}

.back {
    filter: brightness(10%);
    opacity: 0.95;
    top: 0;
    z-index: -1;
    width: 0px;
    position: fixed;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 1;
}

.home {

    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.greeting {
    font-size: 48px;
    color: rgb(240, 248, 255);
    padding-bottom: 30px;
}

.wraper {
    display: flex;
    padding: 30px 0;
}

.wraper_text {
    color: aliceblue;
    font-size: xx-large;
}

.wraper_coursor {
    content: "";
    width: 8px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

.home_text {
    color: aliceblue;
    padding: 30px 0;
    font-size: xx-large;
}

.home_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #20c997;
    color: #20c997;
    border-radius: 25px;
    width: 150px;
    height: 50px;
}

.home_btn:hover {
    background-color: #20c997;
    color: aliceblue;
    transition: 0.5s;
}

.content_box {
    position: relative;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.about_content {
    width: 90%;
}

.up_block {
    display: flex;
    justify-content: center;
}

.back_text {
    color: #aac0aa27;
    font-weight: 800;
    width: 100%;
    font-size: 9rem;
    display: contents;
}

.front_text {
    position: absolute;
    top: 75px;
    left: 0;
    display: flex;
    width: 100%;
    font-size: 2.25rem;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    font-weight: 600;
}

.text_line {
    border: solid 1px #20c997;
    border-radius: 30px;
    background-color: #20c997;
    width: 80px;
    height: 3px;
}

.about_center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

.name_span {
    color: #20c997;
}

.about_info {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
}

.about_info>h2 {
    margin-bottom: 2rem;
}

.about_data {
    margin-top: 30px;
}

.info_text {
    margin-bottom: 2rem;
    line-height: 1.8
}

.list_style {
    margin-bottom: 50px;
}

.list_style>li {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eaeaea;
}

.li_mail {
    color: #20c997;
}

.btn-link-resume {
    position: relative;
}

.link_resume {
    border: solid 1px #20c997;
    border-radius: 30px;
    background-color: #20c997;
    color: #dee3e4;
    padding: 5px 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.425);
}

.hidden-link {
    color: #20c997;
    font-size: 22px;
}

.hid-link {
    display: none;
    position: absolute;
    left: 30%;
}

.hid-link-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: ani 1s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.count {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

.count_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 12px;
}

.count_h2 {
    color: #acb0b1;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.3
}

.services_content {
    width: 90%;
}

.services_center {
    width: 100%;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 30px;
}

.center_box {
    display: flex;
    align-items: center;

}

.fa-solid {
    font-size: 200%;

}

.services_icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #20c997;
    box-shadow: 5px 5px 15px rgba(151, 243, 159, 0.397);
}

.services_text {
    width: 90%;
    padding: 20px 10px;
    line-height: 1.8
}

.summary_content {
    width: 90%;
}

.summary_center {
    display: flex;
    justify-content: space-around;
}

.summary_box {
    width: 47%;
}

.info-box {
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 8px;
    padding: 20px;
    max-height: 180px;
    overflow-y: scroll;
}

.info_head {
    font-size: 36px;
}

.info_year {
    max-width: 19%;
    border: 1px solid #20c997;
    border-radius: 10px;
    background-color: #20c997;
    color: aliceblue;
    font-size: 18px;
    padding: 0 6px;
}

.info_plase {
    padding: 10px 0;
}

.info_spec {
    padding: 10px 0;
}

.info-box::-webkit-scrollbar {
    width: 3px;
}

.info-box::-webkit-scrollbar-thumb {
    background-color: rgba(86, 86, 87, 0.233);
    border-radius: 20px;
}

.level {
    color: #20c997;
    width: 100%;
}

.summary_bottom {
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

.level_data {
    display: flex;
    justify-content: space-between;
}

.level_string {
    display: flex;
    height: 5px;
    background-color: #acb0b160;
    border-radius: 10px;
}

.progress_bar {
    background-color: #20c997;
    border-radius: 10px;
}

.portfolio_head {
    margin-bottom: 100px;
}

.scroll_line {
    margin-left: 250px;
}

.portfolio_filling {
    position: relative;
    left: 60px;
}

.port-content {
    position: relative;
}

.content-switcher {
    height: 385px;
    width: 10%;
    z-index: 2;
}

.contentChung-prev {
    position: absolute;
    left: 0;
}

.contentChung-next {
    position: absolute;
    right: 100px;
}

.port-item {
    display: none;
}

.port-item-active {
    display: block;
    position: absolute;

}

.scroll_line {
    display: flex;
    margin-bottom: 20px;
}

.time-line {
    background-color: #7e7e7e;
    height: 3px;
    width: 10%;
    border-radius: 3px;
}

.time-line+.time-line {
    margin-left: 4px;
}

.time-line-active>.time-line-inner,
.time-line-active~.time-line>.time-line-inner {
    width: 0;
}

.time-line-inner {
    height: inherit;
    border-radius: inherit;
    background-color: #20c997;
}



@media(max-width:480px) {

    .arrow,
    .light.arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}

.item-1 {
    z-index: 2;
}

#target-item-1:target~.item-1 {
    opacity: 1;
}

#target-item-2:target~.item-2,
#target-item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
}

.contact_center {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-top: 50px;
}

.center_left {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    gap: 20px;
}

.center_head {
    color: #20c997;
}

.fa-solid {
    color: #20c997;
    font-size: 21px;
    margin-right: 10px;
}

.center_rigth {
    width: 40%;
}